@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "GilroyMedium";
  font-display: swap;
}
.main {
  background-image: url(./img/Галактика_azari-architects_51.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px calc(10.8vw + 23.5px);
}
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: calc(13.8vw + 8.5px);
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weekend {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-size: 24px;
}
h3 {
  font-family: "Playfair Display";
  font-size: 32px;
  font-weight: 700;
  line-height: 162%;
  color: #c0ad95;
}
.description {
  font-size: 14px;
  line-height: 116%;
  color: white;
  cursor: pointer;
}
h1 {
  font-family: "Cormorant";
  font-size: calc(2.8vw + 30.1px);
  font-weight: 100;
  color: white;
  margin-bottom: calc(1.8vw + 17.2px);
}
.infor p {
  color: white;
  font-size: calc(1.2vw + 15px);
  line-height: 85%;
  margin-bottom: calc(0.3vw + 15.9px);
}
.dataTime {
  display: flex;
  gap: 12px;
}
.sell {
  font-family: GilroyMedium;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-family: Gilroy;
  font-size: calc(0.7vw + 15.27px);
  line-height: 107%;
  margin-bottom: calc(0.2vw + 11.6px);
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(0.7vw + 19.2px);
}
.time {
  width: calc(1.3vw + 25.2px);
  height: calc(1.3vw + 25.2px);
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
  font-size: calc(0.6vw + 17px);
  line-height: 107%;
}

.dataSell {
  display: flex;
  justify-self: center;
  gap: calc(0.3vw + 8.9px);
  font-size: calc(0.7vw + 16.6px);
  line-height: 107%;
}
.data span {
  font-size: calc(0.6vw + 12.9px);
  line-height: 186%;
  color: white;
}
.telephone {
  background: #fbfbfb;
  border-radius: 8px;
  width: calc(17vw + 255px);
  margin-bottom: calc(0.5vw + 21.2px);
  font-size: calc(0.7vw + 16.6px);
  line-height: 92%;
  display: block;
  outline: none;
  padding: 12px 20px;
  cursor: pointer;
}
button {
  width: calc(4.7vw + 191.6px);
  height: 50px;
  top: 664px;
  left: 128px;
  border: none;
  border-radius: 8px;
  background: #af9678;
  color: white;
  font-size: calc(0.7vw + 16.6px);
  line-height: 107%;
  text-align: center;
  margin-bottom: 95px;
  cursor: pointer;
}
.contener {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
}
@media (max-width: 700px) {
  .contener {
    gap: 1px;
  }
  .main {
    padding: 0 6px;
  }
}
.third {
  padding-left: calc(10.4vw + 17.1px);
  padding-right: calc(10.4vw + 17.1px);
}
.line_1 {
  width: 100%;
}
.right {
  width: calc(33.7vw + 205.6px);
  height: calc(5.2vw + 256.9px);
}
.right h2 {
  font-family: Cormorant;
  font-size: calc(2.7vw + 29.1px);
  font-weight: 100;
  line-height: 104%;
  color: #11100e;
  margin-bottom: calc(1.3vw + 44.7px);
}
.right p {
  font-size: calc(0.9vw + 16.5px);
  line-height: 123%;
  color: #11100e;
  margin-bottom: calc(0.4vw + 28.6px);
}
.right button {
  width: 263.41px;
  height: 45px;
  top: 1551px;
  left: 580px;
  cursor: pointer;
}
.arrow_down {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.arrow {
  width: 76px;
  height: 76px;
  position: relative;
  left: 1380px;
  right: 56px;
  bottom: 0;
}

.choice {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(3.7vw + 30.2px);
}
.icons img {
  width: calc(6.3vw + 60px);
  height: calc(6.3vw + 60px);
}

.installments {
  font-size: calc(0.9vw + 17.1px);
  line-height: 93%;
  text-align: center;
  font-weight: normal;
  margin-bottom: calc(4vw + 87.1px);
}
.line_1 {
  margin-bottom: calc(3.7vw + 111.7px);
}
.aboutUs h2 {
  font-family: Cormorant;
  font-size: calc(2.6vw + 30.7px);
  line-height: 41%;
  color: #937a60;
  text-align: center;
  margin-bottom: calc(0.2vw + 42.5px);
}
.max {
  font-size: 30px;
  line-height: 170%;
  margin-bottom: 146px;
}
.mini {
  display: none;
}
.disappear {
  font-size: 19px;
  line-height: 147%;
  color: #937a60;
  display: none;
}
.why {
  font-family: "Cormorant";
  color: #937a60;
  margin-bottom: calc(3.4wv + 30.1px);
  font-size: calc(2.6vw + 30.7px);
}
.icons {
  text-align: center;
}

.fourth {
  padding-left: calc(7.9vw + 9.1px);
  padding-right: calc(7.4vw + 2.7px);
}
.catalog {
  font-family: "Cormorant";
  margin-bottom: calc(5.3vw + 21.1px);
  color: #937a60;
  font-size: calc(2.6vw + 30px);
  line-height: 41%;
}
.furniture {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(2.7vw + 21.4px);
}
.container {
  position: relative;
  width: 332px;
  height: 608px;
}
.container {
  position: relative;
  display: inline-block;
}
.container ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #937a60bf;
  pointer-events: none;
}
.container {
  display: block;
}

/* .textOne {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 33px; 
  line-height: 73%;
  text-align: center; 
  z-index: 1;
} */

.kupe{
  width: 332px;
  height: 608px;
 }

.kupe {
  position: relative;
  display: inline-block;
}
.kupe ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 608px;
  background-color: #937a60bf;
  pointer-events: none;
}
.kupe {
  display: block;
}
.textTwo {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 33px; 
  line-height: 73%;
  z-index: 1; 
  text-align: center; 
  width: 305px;
} 
.kuhna {
  width: 332px;
  height: 608px;
}
.kuhna {
  position: relative;
  display: inline-block;
}
.kuhna ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:332px;
  height: 608px;
  background-color: #937a60bf;
  pointer-events: none;
}
.kuhna {
  display: block;
}
/* .textThree{
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white; 
  font-size: 33px; 
  line-height: 73%;
  z-index: 1; 
} */
 


.madeshkaf{
  display: none;
}


.fifth {
  padding-left: calc(3.9vw + 13.7px);
  margin-bottom: calc(4vw + 91.1px);
}
.materials {
  font-family: "Cormorant";
  color: #937a60;
  font-size: calc(2.6vw + 30.2px);
}
.components {
  display: flex;
  justify-content: space-around;
}
.detail button {
  width: calc(7.1vw + 117px);
  border: none;
  background-color: #fbfbfb;
  color: #11100e;
}
.slide {
  width:calc(23.3vw + 173.4px);
  height: calc(16.6vw + 269.8px);
 
}
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.slide span {
  margin-top: 10px; 
  font-size:calc(0.9vw + 16.1px);
  color: #333; 
}


.sixth {
  padding-left: calc(8.6vw + 11.4px);
  padding-right: calc(10.4vw + 17.1px);
  padding-bottom: calc(0.4vw + 98.8px);
}
.sixth h2 {
  font-family: "Cormorant";
  color: #937a60;
  font-size: calc(2.6vw + 30.7px);
}
.Special {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(4.3vw + 16.2px);
  margin-bottom: calc(0.5vw + 37.2px);
}
.bestseller {
  color: #ffffff;
}
.blackBox {
  width: calc(2.9vw + 42.8px);
  background: #11100e;
}
.blackBox span {
  font-size: calc(0.9vw + 10.7px);
  text-align: center;
}
.blackRectangle span {
  font-size: calc(0.9vw + 10.7px);
  text-align: center;
}
.blackRectangle {
  background: #11100e;
  width: calc(4.4vw + 73px);
}
.rubl {
  font-size: 13px;
  line-height: 215%;
  color: #937a60;
}
.rubl :nth-child(3) {
  color: #e52b2b;
}
.comfort {
  font-size: calc(1.3vw + 11.8px);
  line-height: 93%;
  color: #000000;
}
.more span {
  cursor: pointer;
}

.seller {
  font-size: calc(1.1vw + 13.4px);
  line-height: 28px;
  color: #e52b2b;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.rubl {
  font-size: 13px;
}
.seller {
  font-style: calc(1.1vw + 12.5px);
}
.comfort {
  justify-content: left;
  align-items: baseline;
}

.more {
  color: #937a60;
  font-size: calc(0.9vw + 17.1px);
  line-height: 93%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}
.more img {
  height: 1px;
  width: calc(9.6vw + 137.1px);
  margin-top: 10px; 
}

.cabinets img {
  width: calc(17.9vw + 52.8px);
  height: calc(20.4vw + 137.5px);
}

.seventh {
  background: #161513;
  padding-top: calc(6.9vw + 35px);
  background-image: url(./img/telephone.png), url(./img/ten.png);
  background-repeat: no-repeat;
  background-size: 30vw;
  background-position: right 90px top 74px, right 120px bottom 65px;
  margin-bottom: calc(4.1vw + 88.3px);
}

.stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stock h2 {
  font-family: "Cormorant";
  font-size: calc(2.6vw + 30.7px);
  line-height: 41%;
  margin-bottom: calc(0.4vw + 23.5px);
  color: #ffffff;
}
.stock span {
  color: #ffffff;
  font-size: calc(0.9vw + 17.1px);
  line-height: 140%;
  margin-bottom: calc(1.6vw + 19.8px);
}
.stock input {
  width: calc(38.4vw + 205.1px);
  margin-bottom: calc(2.1vw + 61.5px);
  border-radius: 12px;
  padding-top: calc(0.4vw + 12.8px);
  padding-bottom: calc(0.4vw + 12.8px);
  padding-left: calc(0.8vw + 20.4px);
  font-size: calc(0.9vw + 17.1px);
  line-height: 93%;
}
.stock button {
  background: #af9678;
  padding-top: calc(0.2vw +11.4px);
  padding-left: calc(0.2vw + 61.4px);
  padding-right: calc(0.2vw + 61.4px);
  padding-bottom: calc(0.2vw +11.4px);
  text-align: center;
  font-size: calc(0.5vw + 18.2px);
  line-height: 107%;
  width: calc(3.4vw + 237.1px);
  cursor: pointer;
}

.eighth {
  font-family: "Cormorant";
  padding-left: calc(4vw + 3.9px);
  padding-right: calc(14.7vw + 32.4px);
  padding-bottom: calc(4.2vw + 88px);
}
.reviews {
  font-family: "Cormorant";
  font-size: calc(2.6vw + 30.3px);
  line-height: 41%;
  color: #937a60;
  margin-bottom: calc(3.4vw + 29.7px);
}
.comments h5 {
  font-size: calc(1.7vw + 17.5px);
  line-height: 75%;
  margin-bottom: calc(3.2vw + 13.5px);
}
.comments p {
  font-size: calc(1vw + 15.7px);
  line-height: 133%;
  margin: 0 179;
}
.ninth {
  width: calc(99.3vw + 10.2px);
  height: calc(61.8vw + 550.2px);
}
.ninth h2 {
  font-family: "Cormorant";
  font-size: calc(2.6vw + 30.3px);
  line-height: 41%;
  color: #937a60;
  margin-left: calc(10vw + 12px);
  margin-bottom: calc(2.9vw + 73.5px);
}
.side {
  display: flex;
  gap: calc(1.3vw + 0.71px);
}
.rightSide {
  width: calc(37.5vw + 4px);
  height: calc(12.3vw + 426.5px);
}
.lefStide {
  width: calc(60.4vw + 5.5px);
  height: calc(12.3vw + 426.5px);
}
.side {
  display: flex;
  gap: calc(1.3vw + 0.71px);
  position: relative;
}

.matte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(30vw + 20px);
  height: auto;
  z-index: 10;
}
.matte {
  width: calc(58.9vw + 99.4px);
  height: calc(3.5vw + 390.1px);
}
.list {
  display: flex;
  flex-direction: column;
  gap: calc(0.6vw + 26px);
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  list-style-type: none;
  text-align: center;
  color: white;
  font-size: calc(1.2vw + 14px);
}
.list {
  list-style-type: decimal;
}
.benefit:nth-child(1) {
  width: 80%;
  margin: 0 auto;
}

.benefit:nth-child(2) {
  width: 70%;
  margin: 0 auto;
}

.benefit:nth-child(3) {
  width: 60%;
  margin: 0 auto;
}

.benefit:nth-child(4) {
  width: 50%;
  margin: 0 auto;
}
.list {
  width: calc(52.3vw + 52.5px);
}
@media (max-width: 700px) {
  .addition{
    position: relative;
    display: block;
    height: 28px;
    width: 215px;
  }
  .madeshkaf {
    display: block;
    margin-bottom: 102px;
  }
  .allPictures {
    width: 280px;
    height: 441px;
  }
  .icons img {
    width: 80px;
    height: 80px;
  }

  .furniture {
    display: none;
  }
  .mini {
    display: block;
    font-size: 20px;
    line-height: 170%;
    margin-left: 15.9px;
    margin-right: 15.9px;
    text-align: center;
  }
  .max {
    display: none;
  }
  .bestseller:nth-child(3),
  .bestseller:nth-child(6) {
    display: none;
  }
  .Special {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .choice {
    width: 250px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .disappear {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 100px;
  }
  .Line2 {
    width: 100%;
  }
  .fifth {
    padding-right: 16px;
  }
  .smartphone {
    display: none;
  }
  .seventh {
    background-image: none;
  }
}
@media (max-width: 975px) {
  .description {
    display: none;
  }
  .weekend {
    display: block;
  }
  .closet {
    display: none;
  }
  .arrow {
    display: none;
  }
  .right {
    margin: 132px 13px 130px 17px;
  }
  .withoutAdaptation {
    display: none;
  }
  .adaptation {
    display: block;
  }
}
@media (min-width: 1000px) {
  .why {
    text-align: center;
  }
  .comments p {
    margin: 0 16;
  }
}
